<div class="row" *ngIf="loading && !error">
  <div class="col">
    <div class="alert alert-info text-center" role="alert">
      <strong><i class="fa fa-sync fa-spin"></i> cargando...</strong>
    </div>
  </div>
</div>

<div class="row" *ngIf="error && !loading">
  <div class="col">
    <div class="alert alert-danger text-center" role="alert">
      <strong>{{ error.status }}</strong>
      <p>
        {{ error.message }}
        <br />
        {{ error.url }}
      </p>
    </div>
  </div>
</div>

<div class="card-columns">
  <div class="card" *ngFor="let usuario of usuarios">
    <img
      [src]="usuario.avatar"
      class="card-img-top"
      alt="{{ usuario.first_name }}"
    />
    <div class="card-body">
      <h5 class="card-title">
        {{ usuario.first_name }} {{ usuario.last_name }}
      </h5>
      <p class="card-text">
        This is a longer card with supporting text below.
      </p>
      <p class="card-text">
        <span class="text-muted">ID {{ usuario.id }}</span>
      </p>
    </div>
  </div>
</div>
